@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Wine database</h1>
    
</div>

<p>@Html.ActionLink("See all varietals", "Index", "Varietals")</p>